// ---- Colores -----//

$principal: black;
$secundario: white;

$fuentePrincipal: 'Quicksand', sans-serif;

// ---- Generales -----//

body {
    font-family: $fuentePrincipal;
    margin:0px;
    width: 100%;      
}

.titulo{
    background-color: $secundario;
    border-radius:50% ;       
    margin: auto;               
    border: 2px solid black;
    box-shadow: black 8px 8px ;
    align-content: center;
    z-index: 5;  
    position: relative;   

    h1{
        letter-spacing: 2px;
        font-weight: 800;
        text-align: center;
        font-size: 20PX;     
    }
    
}


.portafolio {

    @keyframes animacionFondo{
        0% {
            background-position: 0% 51%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 51%;
        }
    }
    
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(274deg, #7ec9e6, #7ce098, #fabf4d, #f18d52, #e95758, #f583b4, #cb88ef, #8669d6, #5381e8);
    background-size: 2000%, 2000%;
    -webkit-animation: animacionFondo 80s ease infinite;
    -moz-animation: animacionFondo 80s ease infinite;
    animation: animacionFondo 80s ease infinite;    
    display: flex;  
    flex-wrap: wrap;
    margin: auto;
    overflow: scroll;

    .info, .contenedor-info{   
        display: flex;  
        width: 100%;
        
    }

    .item{      
        width: 100%; 
        height: 100%; 
        z-index: -5;  
        display: flex;  
        flex-wrap: wrap;        
    }
}

//------ Menu -------//

.menu {
    height: 100%; 
    width: 100%;   
    position: absolute;     
    position: fixed;    

    div {
        display: flex;          
        border-radius: 50%;
        text-decoration: none;             
        display: inline-block;  
        position: relative; 
        -webkit-transition: 0.3s all ease;
        transition: 0.3s ease all;
        text-align: center;
        align-items: center;
        margin: 5px;

    }

    div:before {
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        background-color: $secundario;
        content: '';        
        z-index: -2; 
        border-radius: 50%;        
    }

 
    div:hover:before {
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
        left: 0%;
        right: 0%;
        opacity: 1;
        border-radius: 50%;
    }   
    
    a {  
        position: absolute;          
        text-decoration: none;    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);               
        width: 130px;
        color: $principal;
        font-weight: 600;            
    }         
    
    .active { 
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;        
        border-radius: 50%;         
        background-color: rgba(255, 255, 255, 0.4);   
    }



}

//------ Menu Corto ------ //

.corto {
    display: flex; 
    max-height: 210px;
    max-width: 70px;
    flex-wrap: wrap-reverse;        
    right: 20px;
    bottom: 20px;     
    font-size: 20px; 

    div{
        height: 60px;  
        width: 60px;        
    }             
}

//----- Menu Largo -----//

.largo {
    display: none; 
    max-width: 450px;
    max-height: 150px;
    flex-direction: row-reverse;
    top: 3px;        
    right: 40px;     
    font-size: 18px;
    
    div{
        height: 110px; 
        width: 110px;        
    }
}

// ----- Main------//

.contenedor-info{

    .contenido_info {    
        width: 100%;  
        height: 100%; 
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
    
    .contenido_info > div{
        display: none;
        transition: all .5s ease;
    }
    
    .contenido_info .active{
        display: block;
    }

}

//------- Sobre Mi -------//

#sobremi{
    width: 100%;

    .texto{        
        width: 100%;        
        font-size: 16px;
        bottom: 5px; 
        padding:10px;
        background-color: $secundario;
        margin: 20px;
        margin-right: 85px;        
        box-shadow: black 8px 8px;
        border: solid black 2px;    

        strong{
            font-size: 20px;
            padding: 5px;
        }
    }

    .imagen{
        width: 100%;
        max-width: 600px;
        margin: auto; 
         
        
        img{          
            width: 90%; 
            max-width: 600px;  
            margin: auto;  
            align-items: center; 
            padding: 10px;   
        }

        .titulo{
          
            width:120px;   
            height: 120px; 
            margin-top: 20px;
            margin-bottom: -70px;            
            margin-right: 40px;                
     
            h1{   
                padding-top: 15px;  
            }
            
        }
    }
}

//------- Proyectos -------//

#proyectos{
   
    width: 100%;
    height: 100%; 
    flex-wrap: wrap;        
    
    .contenedor-slider {   
        width: 90%; 
        align-content: center;
        margin: auto;        
     

        .carousel {
            background: #fff;
            border: 2px solid white;
            box-shadow: black 8px 8px ;
            width: 100%;
            max-width: 700px;
            height: 350px;
            display: flex;
            overflow: hidden;  
            position: relative;              
          
            .slider {
                display: flex;                
                width: 300%;
                flex-shrink: 0;
                transition: all 0.5s;
                
                .slide {
                    flex-basis: 33.3%;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;

                    div{

                        background-position: center;
                        background-size: cover;
                        width: 100%;
                        height: 100%;  
                        display: flex;                    

                        h2{

                            background-color: $secundario;
                            border: $principal 2px solid;
                            width: 200px;
                            margin: auto;
                            padding: 20px;  
                            display: flex; 
                            margin-top: 30px;                            
                            box-shadow: black 8px 8px ;
                            background-color: $secundario;
                                                        
                            a{
                                text-decoration: none;
                                font-size: 18px;
                                color: $principal;       
                            }

                            a:hover{
                                color: $secundario;
                            }                            
                        }
                    }

                    .a{
                        background-image: url(../img/web1.gif) ;                        
                        h2:hover{
                            background-color:#6595fd;                            
                        }
                    }

                    .b{
                        background-image: url(../img/web2.gif) ;                        
                        h2:hover{
                            background-color:#d634ce;                            
                        }
                    }

                    .c{
                        background-image: url(../img/web3.gif) ;                        
                        h2:hover{
                            background-color:#e42484;                            
                        }
                    }
                }
      

               
            }           
        }
    }
    
    .controls {
        
        button{
            position: absolute;
            background: none;
            border: none;
            cursor: pointer;          
            top: 150px;
            background-color: $principal;
            height: 60px;
            width: 60px;
            border-radius: 50%;

            i {
                font-size: 50px;
                color: $secundario;
            }
        }

        button:hover{
            background-color: $secundario;

            i{
                color: $principal;
            }
        }

        button.next {
            right: 10px;                   
        }
    
        button.prev {
            left: 10px;             
        }   
     
    }

    .titulo{
          
        width:150px;   
        height: 150px; 
        margin-top: 20px;
        margin-left: 30px;                 
                
        h1{   
            padding-top: 40px;  
        }
        
    }

}

//------- Contacto -------//
#contacto{
    width: 100%;       
    margin:auto;
    
        
    .redes{
        width: 100%; 
        height: 300px;    
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 20px;                 
      
        div{         
            width: 120px;
            height: 120px;                 
            display: flex;          
            border-radius: 50%;
            text-decoration: none;             
            display: inline-block;  
            position: relative; 
            -webkit-transition: 0.3s all ease;
            transition: 0.3s ease all;
            text-align: center;
            align-items: center;
            margin:auto;                     
            background-color: rgba(255, 255, 255, 0.4); 

            a {  
                font-size: 70px;                         
                text-decoration: none;                       
                width: 130px;
                color: $principal;           
                z-index: 3; 
                position: absolute;          
                text-decoration: none;    
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);  
                
            }   

        }

        div:before {
            -webkit-transition: 0.5s all ease;
            transition: 0.5s all ease;
            position: absolute;
            top: 0;
            left: 50%;
            right: 50%;
            bottom: 0;
            opacity: 0;
            background-color: $secundario;
            content: '';        
            z-index: 1; 
            border-radius: 50%;        
        }

        div:hover:before {
            -webkit-transition: 0.5s all ease;
            transition: 0.5s all ease;
            left: 0%;
            right: 0%;
            opacity: 1;
            border-radius: 50%;
            
        }

    } 
    .imagen{
        width: 100%;         
        display: flex;
        align-items: center;
        margin: auto;  
        padding-top: 50px; 
        padding-right: 80px;          

        img{
            width: 70%;
            max-width: 400px;
            margin: auto;   
            border: 1px solid black; 
            border-radius: 50%;  
            box-shadow: black 8px 8px ;                  
        }

        .titulo{
          
            width:130px;   
            height: 130px; 
            margin: auto;
            margin-top: -30px;
            margin-left: -100px;
                          
            h1{   
                padding-top: 35px;  
            }
            
        }
               
    }  
    
    
}

@media all and (min-width: 920px){

    .corto {
        display: none;
    }

    .largo {
        display: flex;
    }

    #sobremi{

        margin: auto;
        .imagen{
            width: 35%;

            img{
                width: 100%;             
                margin: 30px;
            } 
            
            .titulo{
                width:130px;   
                height: 130px;                
                margin-bottom: -100px;            
                margin-right: -60px;  

                h1{
                    font-size: 22px;
                }                    
                             
            }
        }         
        
        .texto{
            width: 40%;
            margin: auto;
            margin-top: 130px;            
            padding: 30px;
        }
    }

    #proyectos{
        padding-top: 50px;     
        
        .contenedor-slider {   
            width: 60%;          
        
            .carousel {
                height: 400px;
                .slider{
                    .slide{
                        div{
                            h2{
                                margin-top: 155px;
                            }
                        }
                    }
                }


            }

            button{
                top:180px;
            }
        }
        
        .titulo{
            margin-top: 110px;
            margin-left: -200px;
        }
    }

    #contacto{
        .redes{
            margin-top:150px;
            width: 50%;
            display: flex;
            margin: auto;
        }

        .imagen{
            width: 40%;           
            display: flex;
            margin: auto;
            padding: 0;
        }
    }

}



    
    

